.notices .notice img{
    width: 100%;
}

.notices .notice .card{
    box-shadow: -5px -4px 15px 1px #a2a2a2;
}

#notice-section .notice-content{
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ededed;
    margin-bottom: 10px;
}