#blog-item-content h4{
    font-size: 20px;
    color:#333;
    font-weight: 600;
}

#blog-section a{
    text-decoration: none;
    color: #666;
}

#blog-section p{
    font-size: 14px;
}

#blog-section .card{
    margin-bottom: 15px;
}

#blog-right-side-content{
    margin-bottom: 25px;
}

// Single Blog Section
#single-blog-sec .profile-img{
    width: 40px;
    height: 40px;
    float:left;
    margin-right: 20px;
}

#single-blog-sec #single-blog-title{
    margin-right: 30px;
    color:#333;
    font-size: 15px;
    float:left
}

#single-blog-sec #single-blog-title a{
    color:#333
}