header a button span{
    color:#f0f;
}

header a{
    text-decoration: none;
}

header .navbar-top{
    padding-top:0px;
    padding-bottom:0px;
    font-size:14px;
}

header .navbar-top .navbar-nav{
    flex-direction: row !important;
}

header .navbar-bottom .navbar-nav .dropdown-menu{
    left:auto;
    right: 0px;
}

@media only screen and (max-width:960px){
    header .navbar-top .navbar-nav .nav-item{
        padding-left:15px;
    }
}