@import url("./header.scss"); //Header Stylesheet
@import url("./footer.scss"); //Footer Stylesheet
@import url('./newsfeed.scss'); //Newsfeed
@import url('./notices.scss'); //Notices

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef
}

#root{
    overflow-x: hidden;
}


// Carousel Custom Stylesheet
#slider .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 40%;
    background: rgba(0, 3, 2, 0.5);
    padding: 15px 20px;
}

#slider .owl-carousel .owl-nav .owl-prev{
    left: -10px;
}

#slider .owl-carousel .owl-nav .owl-next{
    right:-10px
}

#slider .owl-carousel .owl-dots{
    margin-top: -40px;
    z-index: 9999999;
    position: sticky
}

#slider .owl-carousel .owl-dots .owl-dot span{
    background:#ffc107;
}

#slider .owl-carousel .owl-dots .owl-dot.active span{
    background:#fff;
}
// Owl Carosel Media Screen
@media only screen and (max-width: 600px){
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
        top: 30%;
        padding: 10px;
    }
}
// End of the Carousel Stylesheet

// Section Default
section{
    padding-top: 35px;
    padding-bottom: 35px;
}

.section-heading{
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading:after{
    content: " ";
    border-bottom: 3px solid #4589b1;
    display: block;
    width: 100px;
    margin: 5px 3px;
}

// Homepage Default Style
.newsfeed, .notices{
    padding:30px;
    height: 400px;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 10px 0px #aaa;
}

.newsfeed .news, .notices .notice{
    margin: 0px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 20px 0px #ddd;
    border: 1px solid #eee;
}

//Student Project
#studentProjects .owl-carousel .owl-item{
    padding: 10px;
    border: 0px none;
}

#studentProjects .owl-carousel .owl-item .item{
    box-shadow: 0px 0px 13px 0px #bf7d00
}

#studentProjects .section-heading{
    text-align: center;
    color:#fff;
}
#studentProjects .section-heading:after{
    margin:5px auto;
    border-color:#de9c08;
}